<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.0" targetFramework="net45" />
  <package id="Autofac.Extras.DynamicProxy2" version="3.0.4" targetFramework="net45" />
  <package id="Castle.Core" version="3.2.2" targetFramework="net45" />
  <package id="FoundationDB.Client" version="0.200.6-pre" targetFramework="net45" />
  <package id="Foundoc" version="0.5.0.155-pre" targetFramework="net45" />
  <package id="Foundoc.Autofac" version="0.5.0.155-pre" targetFramework="net45" />
  <package id="Humanizer" version="1.28.0" targetFramework="net45" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="Microsoft.Owin" version="3.0.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Hosting" version="3.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
</packages>